@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.3;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

/* ---------------------  */
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}

.wraper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 5%;
}

header {
  padding: 25px 0;
  background-color: #2b6778;
}

header a {
  color: #ffffff;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header-nav__links li {
  padding-right: 15%;
}

.header-nav__links li:first-child {
  padding-right: 0;
}

.header-description {
  background-color: #c8d8e4;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../img/no_debts.png), url(../img/any_target.png);
  background-repeat: no-repeat no-repeat;
  background-size: auto 100%, auto 100%;
  background-position: left, right;
}

.header-description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-description .container > p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 390px;
          flex: 0 1 390px;
  margin: 0 auto;
  max-width: 590px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(200, 216, 228, 0.452);
}

main {
  padding: 25px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 230px auto;
      grid-template-columns: 230px auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0px 20px;
      grid-template-areas: "card__header card__input" "card__text card__input";
}

.card__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card__header;
}

.card__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card__text;
}

.card__input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: card__input;
}

.card__input input:focus {
  -webkit-box-shadow: 0px 0px 2px 2px #80FFD4, inset 0px 0px 2px 2px #80FFD4;
          box-shadow: 0px 0px 2px 2px #80FFD4, inset 0px 0px 2px 2px #80FFD4;
}

.card {
  width: 350px;
  padding: 7px;
  border-radius: 5px;
  background-color: #2b6778;
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 0;
}

.card .card__header {
  font-weight: 700;
  color: #fff;
}

.card .card__text {
  color: #b3b3b3;
  font-size: 16px;
}

.card .card__input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .card__input input {
  width: 80px;
  text-align: right;
  font-size: 18px;
  padding: 1px 0 2px 7px;
  border-radius: 7px;
}
