// inside HTML


// <div class="container"><div class="grid-container"><div class="header">Residential services </div><div class="text">Such as whater,
// gas,
// electritisy etc. if they icluded in rent appartment you can skip this step </div><div class="input"><input type="number"class="insert"></div></div></div>


html,
body,
.grid-container {
    height: 100%;
    margin: 0;
}

.container {
    margin: 20px auto;
    width: 323px;

}

.grid-container {
    display: grid;
    grid-template-columns: 231px 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 10px 30px;
    grid-template-areas:
        "header input"
        "text input";
}

.text {
    grid-area: text;
}

.header {
    grid-area: header;
}

.input {
    grid-area: input;
    align-self: center;
}

.insert {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 1px 1px 0px #000000;
    border-radius: 13px;
    padding: 10px;
}