@import "global.scss";
@import "colors.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}

.wraper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5%;
}

header {
    padding: 25px 0;
    background-color: $header-cards-background-color;

    a {
        color: $header-links-color;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav__links {
    display: flex;
    flex-direction: row-reverse;

    li {
        padding-right: 15%;

        &:first-child {
            padding-right: 0;
        }
    }
}

.header-description {
    background-color: $body-background-color;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url(../img/no_debts.png),
        url(../img/any_target.png);
    background-repeat: no-repeat no-repeat;
    background-size: auto 100%,
        auto 100%;
    background-position: left,
        right;



    .container {

        display: flex;

        >p {
            flex: 0 1 390px;
            margin: 0 auto;
            max-width: 590px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            background-color: hsla(206, 34%, 84%, 0.452);

        }
    }

}

// main section calculator
main {
    padding: 25px 0;
    flex: 1 1 auto;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.cards__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

// ----------- card style grid start ----------------- // 


.card__container {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: auto auto;
    gap: 0px 20px;
    grid-template-areas:
        "card__header card__input"
        "card__text card__input";
}

.card__header {
    grid-area: card__header;
}

.card__text {
    grid-area: card__text;
}

.card__input {
    grid-area: card__input;

    input {

        &:focus {
            box-shadow: 0px 0px 2px 2px #80FFD4,
                inset 0px 0px 2px 2px #80FFD4;
        }
    }
}

.card {

    width: 350px;
    padding: 7px;
    border-radius: 5px;
    background-color: $header-cards-background-color;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }


    .card__header {
        font-weight: 700;
        color: #fff;

    }

    .card__text {
        color: $cards-text-color;
        font-size: 16px;
    }

    .card__input {
        align-self: center;

        input {
            width: 80px;
            text-align: right;
            font-size: 18px;
            padding: 1px 0 2px 7px;
            border-radius: 7px;
        }
    }
}

// --------------------------------    card end