// collors 

$red-color: hsl(0, 100%, 50%);
$green-color: hsl(120, 68%, 39%);
$oreng-color: hsl(25, 76%, 61%);
$purple-color: hsl(255, 59%, 58%);

$header-background: hsl(0, 0%, 0%);
$subheader-background: hsl(0, 0%, 18%);
$calc-background: hsl(0, 0%, 96%);